@use 'libs/styles/src/lib/theme';
@use 'colors';

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

:root {
  --default-radius: 0.4rem;
  --default-padding: 0.4rem;
}

$config: (
  typography: (
    buttons: (
      small: (
        font-size: 1.4rem,
        line-height: 1.4rem,
        font-weight: 400,
        font-family: 'Open sans',
      ),
      medium: (
        font-size: 1.6rem,
        line-height: 1.6rem,
        font-weight: 500,
        font-family: 'Open sans',
      ),
      large: (
        font-size: 2.2rem,
        line-height: 2.2rem,
        font-weight: 600,
        font-family: 'Open sans',
      ),
    ),
  ),
  colors: (
    default: (
      color: #F5F5F5,
      background: black,
    ),
    primary: (
      color: #3282B8,
      background: white,
    ),
    accent: (
      color: #FFC045,
      background: black,
    ),
    error: (
      color: #DA0037,
      background: white,
    ),
  ),
);

@include theme.gro-theme($config);
