:host {
  flex: 1;
  padding: calc(var(--default-padding) * 3) calc(var(--default-padding) * 4);
}

:host-context(.gro-opened) {
  margin-left: -0.1rem;
}

:host-context(.gro-opened):last-of-type {
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
}

:host {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20rem;
  -webkit-user-select: none;
          user-select: none;
}

:host:not(.gro-disabled) {
  cursor: pointer;
}

:host.gro-opened .gro-select-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:host .gro-select-wrapper {
  z-index: 2;
  border-radius: var(--default-radius);
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--default-padding) * 3) calc(var(--default-padding) * 4);
}

:host .gro-options-wrapper {
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
  bottom: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
  overflow: hidden;
}

/*@use '../../../atoms/forms/src/lib/autocomplete/autocomplete.component';
@use '../../../atoms/forms/src/lib/checkbox/checkbox.component';
@use '../../../atoms/forms/src/lib/input/input';
@use '../../../atoms/forms/src/lib/label/label.component';
@use '../../../atoms/forms/src/lib/radios/radios-group.component';*/

* {
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  height: 100vh;
  width: 100vw;
}

:root {
  --default-radius: 0.4rem;
  --default-padding: 0.4rem;
}

.material-icons {
  font-family: "Material Icons", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-flex;
  font-family: inherit;
  border-style: none;
}

.gro-base-button {
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  background: none;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
}

.gro-base-button.gro-small {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.gro-base-button.gro-medium {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.gro-base-button.gro-large {
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 600;
}

.gro-base-button.gro-small {
  padding: calc(var(--default-padding) * 2) calc(var(--default-padding) * 3);
  border-radius: var(--default-radius);
}

.gro-base-button.gro-medium {
  padding: calc(var(--default-padding) * 2) calc(var(--default-padding) * 3);
  border-radius: var(--default-radius);
}

.gro-base-button.gro-large {
  padding: calc(var(--default-padding) * 2) calc(var(--default-padding) * 4);
  border-radius: calc(var(--default-radius) * 2);
}

.gro-button.gro-default {
  color: #F5F5F5;
}

.gro-button.gro-default:hover {
  background: rgba(245, 245, 245, 0.1);
}

.gro-raised-button.gro-default {
  color: black;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.gro-icon-button.gro-default {
  color: #F5F5F5;
}

.gro-button.gro-primary {
  color: #1081cd;
}

.gro-button.gro-primary:hover {
  background: rgba(16, 129, 205, 0.1);
}

.gro-raised-button.gro-primary {
  color: white;
  background-color: #1081cd;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.gro-icon-button.gro-primary {
  color: #1081cd;
}

.gro-button.gro-accent {
  color: #FFC045;
}

.gro-button.gro-accent:hover {
  background: rgba(255, 192, 69, 0.1);
}

.gro-raised-button.gro-accent {
  color: black;
  background-color: #FFC045;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.gro-icon-button.gro-accent {
  color: #FFC045;
}

.gro-button.gro-error {
  color: #DA0037;
}

.gro-button.gro-error:hover {
  background: rgba(218, 0, 55, 0.1);
}

.gro-raised-button.gro-error {
  color: white;
  background-color: #DA0037;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.gro-icon-button.gro-error {
  color: #DA0037;
}

gro-option {
  font-family: "Open sans";
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #F5F5F5;
}

gro-option:not(.gro-disabled) {
  cursor: pointer;
}

gro-option:not(.gro-disabled):hover {
  background: rgba(245, 245, 245, 0.1);
}

gro-option:not(.gro-disabled).gro-selected {
  color: #1081cd;
  border-left: 0.4rem inset #1081cd;
}

gro-option.gro-disabled {
  color: #F5F5F5;
  background: #EFEFEF4C;
  border: 0.1rem inset #7676764C;
}

gro-option.gro-disabled.gro-selected {
  border-left: 0.4rem inset #7676764C;
}

gro-select {
  font-family: "Source Sans Pro";
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #F5F5F5;
}

gro-select .gro-options-wrapper, gro-select .gro-select-wrapper {
  border-left: 0.1rem inset #F5F5F5;
  border-right: 0.1rem inset #F5F5F5;
  border-bottom: 0.1rem inset #F5F5F5;
  background-color: black;
}

gro-select .gro-select-wrapper {
  border-top: 0.1rem inset #F5F5F5;
}

gro-select .gro-select-wrapper:hover {
  background: rgba(245, 245, 245, 0.1);
}

gro-select.gro-disabled {
  color: #F5F5F5;
}

gro-select.gro-disabled .gro-select-wrapper {
  border: 0.1rem inset #7676764C;
  background-color: #EFEFEF4C;
}
:host {
  flex: 1;
  padding: calc(var(--default-padding) * 3) calc(var(--default-padding) * 4);
}

:host-context(.gro-opened) {
  margin-left: -0.1rem;
}

:host-context(.gro-opened):last-of-type {
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
}

:host {
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20rem;
  -webkit-user-select: none;
          user-select: none;
}

:host:not(.gro-disabled) {
  cursor: pointer;
}

:host.gro-opened .gro-select-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:host .gro-select-wrapper {
  z-index: 2;
  border-radius: var(--default-radius);
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--default-padding) * 3) calc(var(--default-padding) * 4);
}

:host .gro-options-wrapper {
  z-index: 1;
  width: 100%;
  left: 0;
  top: 100%;
  bottom: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
  overflow: hidden;
}

/*@use '../../../atoms/forms/src/lib/autocomplete/autocomplete.component';
@use '../../../atoms/forms/src/lib/checkbox/checkbox.component';
@use '../../../atoms/forms/src/lib/input/input';
@use '../../../atoms/forms/src/lib/label/label.component';
@use '../../../atoms/forms/src/lib/radios/radios-group.component';*/

